---
import ContactLink from './components/ContactLink.astro'
import GithubIcon from './icons/GithubIcon.astro'
import LinkedinIcon from './icons/LinkedinIcon.astro'
import MailIcon from './icons/MailIcon.astro'
import PhoneIcon from './icons/PhoneIcon.astro'
---

<section class='mb-12 text-center' aria-labelledby='profile-heading'>
    <h1 class='mb-2 text-4xl font-bold'>CRISTOPHER ROMERO</h1>
    <h2
        id='profile-heading'
        class='mb-2 inline-block rounded bg-black px-3 py-1 text-sm font-medium text-white dark:bg-white dark:text-black'>
        DESARROLLADOR DE SOFTWARE FULLSTACK
    </h2>

    <ul class='mb-2 flex justify-center gap-2'>
        <ContactLink href='https://github.com/KrizRoMe' icon={GithubIcon} />
        <ContactLink
            href='mailto:cristopher.romero.pe@gmail.com'
            icon={MailIcon}
        />
        <ContactLink
            href='https://www.linkedin.com/in/cristopher-moises-romero-medrano-a28583298/'
            icon={LinkedinIcon}
        />
        <ContactLink href='tel:+51986550234' icon={PhoneIcon} />
    </ul>

    <p class='mb-2 text-black dark:text-white'>
        Desarrollador FullStack con más de 4 años de experiencia en proyectos
        independientes y en los sectores de salud, minería, y logística
        especializado en HTML, CSS (TailwindCSS), JavaScript (Next.js) y Python
        (Django). Experto en resolver problemas complejos con soluciones
        creativas y adaptables.
    </p>
    <p class='font-bold italic text-black dark:text-white'>
        Nextjs | Django | Nestjs | TailwindCSS | PostgreSQL | SQL Server l
        Docker | AWS
    </p>
</section>
