---
import ContactLink from './components/ContactLink.astro'
import GithubIcon from './icons/GithubIcon.astro'
import LinkedinIcon from './icons/LinkedinIcon.astro'
import MailIcon from './icons/MailIcon.astro'
import PhoneIcon from './icons/PhoneIcon.astro'
---

<section class='mb-12' aria-labelledby='profile-heading'>
    <h1 class='mb-2 text-4xl font-bold'>JOHN DOE</h1>
    <h2
        id='profile-heading'
        class='mb-4 inline-block rounded bg-black px-3 py-1 text-sm font-medium text-white dark:bg-white dark:text-black'>
        FULLSTACK SOFTWARE ENGINEER
    </h2>
    <p class='mb-4 text-black dark:text-white'>
        Fullstack Software Engineer with over 2 years of experience working on
        independent projects and in the healthcare industry using JavaScript
        (React) and Python (Django).
    </p>
    <ul class='flex gap-4'>
        <ContactLink href='/github' icon={GithubIcon} />
        <ContactLink href='/mail' icon={MailIcon} />
        <ContactLink href='/linkedin' icon={LinkedinIcon} />
        <ContactLink href='/phone' icon={PhoneIcon} />
    </ul>
</section>
