---
import EducationItem from './components/EducationItem.astro'
import { educationData } from './data/educationData'
---

<section>
    <h2 class='mb-8 text-center text-2xl font-bold'>EDUCACIÓN</h2>
    <ul class='space-y-1'>
        {
            educationData.map((education) => (
                <li>
                    <EducationItem {...education} />
                </li>
            ))
        }
    </ul>
</section>
