<article class='relative'>
    <div
        class='absolute -left-[25px] top-1 h-4 w-4 rounded-full border-2 border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-900'>
    </div>
    <div>
        <h3 class='font-bold'>Software Engineer</h3>
        <p class='mb-2 text-sm text-gray-600 dark:text-gray-300'>
            Company Name • 2022 - Present
        </p>
        <p class='text-gray-600 dark:text-gray-300'>
            Designed and implemented user-friendly interfaces focusing on data
            validation and user experience.
        </p>
    </div>
</article>
