---
import ProjectItem from './components/ProjectItem.astro'
import { projectData } from './data/projectData'
---

<section class='mb-12' aria-labelledby='projects-heading'>
    <h2 id='projects-heading' class='mb-6 text-center text-2xl font-bold'>
        PROYECTOS
    </h2>
    <ul class='grid grid-cols-1 gap-6 md:grid-cols-2'>
        {
            projectData.map((project) => (
                <li>
                    <ProjectItem {...project} />
                </li>
            ))
        }
    </ul>
</section>
