---
import { Image } from 'astro:assets'
import placeholderImage from '@/public/600x400.svg'

interface Props {
    project: number
    index: number
}

const { project, index } = Astro.props
---

<article
    class='group relative aspect-video overflow-hidden rounded-lg bg-white dark:bg-black'
    aria-labelledby=`project-${project}`>
    <!-- TODO: Validate when the image is lazy or eager loading -->
    <figure>
        <Image
            src={placeholderImage}
            alt={`Project ${project}`}
            loading={index < 2 ? 'eager' : 'lazy'}
            class='h-full w-full object-cover'
        />
    </figure>

    <div
        class='absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 transition-opacity group-hover:opacity-100'>
        <div class='p-4 text-center text-white'>
            <h3 class='mb-2 text-lg font-bold'>
                Project {project}
            </h3>
            <p class='text-sm'>Brief project description goes here</p>
        </div>
    </div>
</article>
