---
import ThemeSwitch from './components/ThemeSwitch.tsx'
---

<header class='mb-12 flex items-center justify-between'>
    <div class='flex gap-2'>
        <button> ES </button>
        <button> EN </button>
    </div>
    <ThemeSwitch client:load />
</header>
