---
import { MoonIcon, SunIcon } from '@/src/components'

const darkMode = false
---

<header class='mb-12 flex items-center justify-between'>
    <div class='flex gap-2'>
        <button> ES </button>
        <button> EN </button>
    </div>
    <button class='p-2'>
        {darkMode ? <SunIcon class='h-6 w-6' /> : <MoonIcon class='h-6 w-6' />}
    </button>
</header>
