---
import { MoonSvg, SunSvg } from '@/src/assets'

const darkMode = false
---

<header class='mb-12 flex items-center justify-between'>
    <div class='flex gap-2'>
        <button> ES </button>
        <button> EN </button>
    </div>
    <button class='p-2'>
        {darkMode ? <SunSvg class='h-5 w-5' /> : <MoonSvg class='h-5 w-5' />}
    </button>
</header>
