---
import type { educationInterface } from '../interface/educationInterface'

const { title, place, year } = Astro.props as educationInterface
---

<article class=''>
    <h3 class='font-bold'>{title}</h3>
    <p class='text-sm text-black dark:text-white'>
        {place} • {year}
    </p>
</article>
