---
interface Props {
    title: string
    university: string
    year: string
}

const { title, university, year }: Props = Astro.props
---

<article>
    <h3 class='font-bold text-black dark:text-white'>{title}</h3>
    <p class='text-sm text-black dark:text-white'>
        {university} • {year}
    </p>
</article>
