---
import ExperienceItem from './components/ExperienceItem.astro'
import { experienceData } from './data/experienceData'
---

<section class='mb-12' aria-labelledby='experience-heading'>
    <h2 id='experience-heading' class='mb-8 text-center text-2xl font-bold'>
        EXPERIENCIA PROFESIONAL
    </h2>
    <ul class='space-y-6 border-l-2 border-black pl-4 dark:border-white'>
        {experienceData.map((experience) => <ExperienceItem {...experience} />)}
    </ul>
</section>
