---
import ExperienceItem from './components/ExperienceItem.astro'
---

<section class='mb-12' aria-labelledby='experience-heading'>
    <h2 id='experience-heading' class='mb-6 text-2xl font-bold'>
        WORK EXPERIENCE
    </h2>
    <ul class='space-y-6 border-l-2 border-black pl-4 dark:border-white'>
        <li>
            <ExperienceItem />
        </li>
        <li>
            <ExperienceItem />
        </li>
        <li>
            <ExperienceItem />
        </li>
    </ul>
</section>
