---
import { Header } from '@/components'
import '@fontsource-variable/montserrat'
import Background from '@/components/layout/header/components/Background.astro'
---

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <title>Portfolio | Cristopher Romero</title>
    </head>
    <body
        class='relative min-h-screen bg-[#f8fafc] text-black dark:bg-black dark:text-white'>
        <Background />

        <div class='relative z-10 mx-auto max-w-4xl px-8 py-12'>
            <Header />
            <main>
                <slot />
            </main>
        </div>
    </body>

    <style>
        html,
        body {
            margin: 0;
            width: 100%;
            height: 100%;
            font-family: 'Montserrat Variable', sans-serif;
        }
        :root {
            --grid-color: #e2e8f0;
        }
        .dark {
            --grid-color: rgba(255, 255, 255, 0.05);
        }
    </style>
</html>
